{% extends "base.html" %}

{% block content %}
<div class="white-box">
    <h1>Добро пожаловать!</h1>
    
    {% if current_user.is_authenticated %}
        <p>Привет, <strong>{{ current_user.username }}</strong>!</p>
    {% else %}
        <p>Чтобы использовать сервис, пожалуйста, <a href="{{ url_for('login') }}">войдите</a> или <a href="{{ url_for('register') }}">зарегистрируйтесь</a>.</p>
    {% endif %}
    
    <p>Этот сервис помогает определить тип отходов на основе изображения с помощью ИИ.</p>
    <a href="{{ url_for('profile') }}" class="welcome-button">
        <button>Начать классификацию</button>
    </a>
</div>
{% endblock %}