{% extends "base.html" %}

{% block content %}
<div class="scroll-container">
    <div class="white-box">
        <!-- Приветствие -->
        {% if current_user.is_authenticated %}
            <h2>Добро пожаловать, {{ current_user.username }}!</h2>
        {% else %}
            <h2>Добро пожаловать!</h2>
            <p>Чтобы использовать сервис, <a href="{{ url_for('login') }}">войдите</a> или <a href="{{ url_for('register') }}">зарегистрируйтесь</a></p>
        {% endif %}

        <!-- Основное содержимое -->
        <h1>Классификация мусора</h1>
        <p>Загрузите изображение для определения типа отходов:</p>
        <form method="post" enctype="multipart/form-data">
            <label class="file-label">Выбор файла:</label>
            <input type="file" name="file" accept="image/*" required>
            <button type="submit">Определить</button>
        </form>

        {% if image %}
            <img src="{{ image }}" alt="Uploaded Image" style="max-width: 300px; margin: 20px 0;">
        {% endif %}

        {% if result %}
            <h2>Результат: {{ result }}</h2>
        {% endif %}
    </div>
</div>
{% endblock %}
